.nate-max-width {
    width: 100%;
}

.code-area {
    height: 30vh;
    background-color: rgba(172, 172, 172, 0.514);
    border-radius: 5px;
    resize: none;
}

.nate-remove-spacing {
    margin: 0;
    padding: 0;
}

.nate-set-flex {
    display: flex;
    flex-direction: row;
}

.nate-add-margin {
    margin: 10px;
}

.nate-hidden{
    display: none;
}